{{form_start(evenementForm)}}
{{form_row(evenementForm.libelle)}}
{{form_row(evenementForm.description)}}
{{form_row(evenementForm.categorie)}}
{{form_row(evenementForm.places)}}
{{form_row(evenementForm.date_e)}}
{{form_row(evenementForm.prix_V)}}
{{form_row(evenementForm.prix_SV)}}
{{form_row(evenementForm.prix_N)}}
<button type="submit" class="btn btn-primary">Ajouter</button>
{{form_end(evenementForm)}}
